
<h1>About us</h1>
<strong><p> This is a website to display the Snippets of my life</p></strong>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.515816692569!2d-75.19540774972369!3d39.95221877932086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c65a7f3bccc1%3A0x9eaa6a2b2d6fe94!2sUniversity+of+Pennsylvania!5e0!3m2!1sen!2sus!4v1471120578128" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
