<div class = "jumbotron center" >
		<h1>Welcome to my app</h1>

		<p>
			<%= link_to "Log in", new_user_session_path , class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path , class: "btn btn-primary btn-lg" %>
		</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86637487786!2d-74.2581955690479!3d40.70531103651696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1470877408406" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>